body {
	font-family: 'Poppins', sans-serif;
	color: #dedede;
	background: #eff0f0;
	font-size: 1.2em;
	margin: 1em;
}

.app-header {
	margin: -0.5em -0.5em 0em -1em;
	padding: 1em;
	background: #111;
	color: #dedede;
}

label {
	display: table; /* block formatting, with a minimum width */
}

a {
	color: inherit;
}

button {
	cursor: pointer;
}

.regular-dice {
	width: 103px;
  height: 107px;
	margin: 1em;
	border: 6px #eff0f0 solid;
}

.regular-dice.used {
	border-color: green;
}

.round-rows {
	color:#111;
}

.round-row {
	border: 6px #eff0f0 solid;
	border-bottom-color:#000000;
	display: block;
	margin: 1em;
}

.round-row.selected-round {
	border: 6px green solid;
}

.round-name {
	text-align: left;
}
